<div class="filter-container">
  <input type="text" [(ngModel)]="filterText" (input)="applyFilter()" placeholder="Filter RSS feeds..."
         class="filter-input modern-input">
</div>

<table *ngIf="filteredFeeds" class="table modern-table">
  <tbody>
  <ng-container *ngFor="let rssFeed of filteredFeeds; let i = index">
    <tr class="card-container">
      <td colspan="3">
        <div class="card modern-card">
          <div class="card-header card-toggle" (click)="toggleFeedExpansion(i)">
            <h3 class="rss-name">{{ rssFeed.name }}</h3>
            <span class="chevron">
                <i *ngIf="!expandedFeedIndexes.includes(i)" class="fa-solid fa-chevron-right"></i>
                <i *ngIf="expandedFeedIndexes.includes(i)" class="fa-solid fa-chevron-down"></i>
              </span>
          </div>
          <div class="card-content">
            <div class="input-zone">
              <div class="rss-name">
                <input type="text" class="form-control text-box modern-input" [(ngModel)]="rssFeed.name"
                       placeholder="Name"/>
              </div>
              <div class="rss-url">
                <input type="text" class="form-control text-box modern-input" [(ngModel)]="rssFeed.url"
                       placeholder="URL"/>
              </div>
            </div>

            <div class="button-zone">
              <button class="btn action-btn modern-btn" (click)="refreshFeed(rssFeed)"><i
                class="fa-solid fa-arrows-rotate"></i></button>
              <button class="btn action-btn modern-btn" (click)="saveFeed(rssFeed)"><i
                class="fa-solid fa-floppy-disk"></i></button>
            </div>
          </div>

          <div class="card-body" *ngIf="expandedFeedIndexes.includes(i)">
            <div class="sub-items">
              <div *ngFor="let item of rssFeed.results; let j = index" class="sub-item modern-sub-item">
                <div class="tag-container" [title]="item.title">
                  <div class="sub-item-date">{{ item.createdDate | date:'EEE. dd MMM yyyy':'':'fr' }}</div>
                  <span *ngFor="let tag of splitTags(getSeasonAndEpisode(rssFeed, item))" class="tag">{{ tag }}</span>
                </div>

                <div class="sub-item-actions">
                  <button *ngIf="checkStateValue(item, FeedProcessingState.Downloaded)" class="btn modern-icon-btn"
                          (click)="markAsNotProcessed(item)">
                    <i class="fa-solid fa-check-circle modern-icon"></i>
                  </button>
                  <button *ngIf="checkStateValue(item, FeedProcessingState.NoProcessed)" class="btn modern-icon-btn"
                          (click)="markAsDownloaded(item)">
                    <i class="fa-solid fa-hourglass-half modern-icon"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
